@model FurnitureShopApp.DAL.Models.Customer

@{
    ViewData["Title"] = "Клієнти магазину";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<h4>Клієнт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="CustName" class="control-label">Ім'я</label>
                <input asp-for="CustName" class="form-control" />
                <span asp-validation-for="CustName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustSurname" class="control-label">Прізвище</label>
                <input asp-for="CustSurname" class="form-control" />
                <span asp-validation-for="CustSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustEmail" class="control-label">Пошта Email</label>
                <input asp-for="CustEmail" class="form-control" />
                <span asp-validation-for="CustEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustPhoneNum" class="control-label">Номер телефону</label>
                <input asp-for="CustPhoneNum" class="form-control" />
                <span asp-validation-for="CustPhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Знижка на товар</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
    </script>
}