@model FurnitureShopApp.DAL.Models.Customer

@{
    ViewData["Title"] = "Клієнти магазину";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<h1>Пошук</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Клієнт</label>
                <select asp-for="CustomerId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.CustomerId">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Підтвердити пошук" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку</a>
</div>

