@{
    ViewData["Title"] = "База даних для роботи меблевого магазину";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}
    
<div class="page-container">
    <div class="form-container">
        <form asp-action="CheckUser" class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="form-signin-heading">Облік роботи діяльності меблевого магазину</h2>
            <div>
                <input type="text" name="Login" placeholder="Введіть логін" required />
            </div>
            <div>
                <input type="password" name="Password" placeholder="Введіть пароль" required />
            </div>
            <button class="" type="submit">Ввійти</button>
        </form>
    </div>
</div>