@model FurnitureShopApp.DAL.Models.Type

@{
    ViewData["Title"] = "Типи меблів";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Ви справді хочете видалити цей запис?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TypeId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку</a>
    </form>
</div>
